#movie-result {
  background: rgb(244, 98, 181);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  display: none;
}

#book-result {
  background: rgb(196, 159, 255);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  display: none;
}

hr {
  height: 5px;
  background-color: black;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fdf5e6;
  text-align: center;
}

h1 {
  color: #5c4d7d;
  text-shadow: 2px 2px #dcdcdc;
}

label {
  display: block;
  margin: 15px 0;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  background-color: #ffaaff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ff99dd;
}
